    name: GitHub Pages Deploy Action
    on:
        push:
            branches:
               - "master"
    jobs:
        deploy-pages:
            name: Deploy to GitHub Pages
            runs-on: ubuntu-latest
            if: github.repository_owner  == 'openfoodfacts'
            steps:
            - name: Chekout code
              uses: actions/checkout@v2
            - name: Setup Dart
              uses: dart-lang/setup-dart@v1
            - name: Run Dartdoc
              run: dartdoc
            - name: Deploy API documentation to Github Pages
              uses: JamesIves/github-pages-deploy-action@4.1.9
              with:
                BRANCH: gh-pages
                FOLDER: doc/api/
