name: test-sdk

on: [push, pull_request]

jobs:
  #Prevents duplicate runs which cause conflicts on the test server
  pre_job:
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@master
        with:
          concurrent_skipping: 'same_content'
          skip_after_successful_duplicate: 'true'
          paths_ignore: '["**/README.md"]'

  main_job:
    needs: pre_job
    if: ${{ needs.pre_job.outputs.should_skip != 'true' }}
    runs-on: ubuntu-latest
    steps:

    - name: Chekout code
      uses: actions/checkout@v2

    - name: Setup Dart
      uses: dart-lang/setup-dart@v1

    - name: Install dependencies
      run: dart pub get

    - name: Check for formatting issues (run "flutter format . ")
      run: dart format --set-exit-if-changed .

    - name: Analyze project
      run: dart analyze

    - name: Run tests
      run: dart test test/
